body{
    font-family: 'Poppins', sans-serif;
}

.forms{
    background-color: rgb(234, 235, 234);
}

.cards{
    background-color: #1E2D33;
    padding: 15px 20px;
    border-radius: 10px;
    margin-top: 15px;
}

.section-card{
    background-color: black;
    opacity: calc(0.85);
    border-radius: 10px;
}

.end-card{
    background-color: black;
    opacity: calc(0.85);
    border-radius: 10px;
}
